<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="com.codeaffine.console.core.internal.GenericConsolePageParticipant"
            id="com.codeaffine.console.core.internal.GenericConsolePageParticipant">
         <enablement>
            <instanceof
                  value="com.codeaffine.console.core.internal.GenericConsole">
            </instanceof></enablement>
      </consolePageParticipant>
   </extension>
</plugin>