
body {
  margin: auto;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
  max-width: 840px;
  background-color: white;
}

h1 {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 160%;
  font-weight: bold;
  margin-bottom: 0.2em;
  text-align: center;
}

p, ul, ol {
  margin-top: 0;
  line-height: 150%;
  text-align: center;
}

ul
{
  list-style-type: none;
}

a {
  color: #F34F29;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link {
  color: #F34F29;
  text-decoration: none;
}

#top-right {
  position: fixed;
  top: 0px;
  right: 0px;
}
