<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point
      id="repositoryProviders"
      name="Repository Providers"
      schema="schema/repositoryProviders.exsd"/>

   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.codeaffine.gonsole.GitConsoleFactory"
            icon="icons/etool16/gonsole.png"
            label="Git Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.codeaffine.gonsole.internal.preference.WorkspaceScopePreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.team.ui.TeamPreferences"
            class="com.codeaffine.gonsole.internal.preference.ConsolePreferencePage"
            id="com.codeaffine.gonsole.internal.preference.ConsolePreferencePage"
            name="Git Console">
         <keywordReference
               id="com.codeaffine.gonsole.internal.keyword.PreferencePage">
         </keywordReference>
      </page>
      <page
            category="com.codeaffine.gonsole.internal.preference.ConsolePreferencePage"
            class="com.codeaffine.gonsole.internal.preference.RepositoryPreferencePage"
            id="com.codeaffine.gonsole.internal.preference.RepositoryPreferencePage"
            name="Repository Locations">
         <keywordReference
               id="com.codeaffine.gonsole.internal.keyword.PreferencePage">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.codeaffine.gonsole.internal.keyword.PreferencePage"
            label="git console repository team ">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="com.codeaffine.gonsole.internal.ThemeElementCategory"
            label="Git Console">
      </themeElementCategory>
      <colorDefinition
            categoryId="com.codeaffine.gonsole.internal.ThemeElementCategory"
            id="com.codeaffine.gonsole.internal.InputColor"
            isEditable="true"
            label="Input Color"
            value="COLOR_BLUE">
      </colorDefinition>
      <colorDefinition
            categoryId="com.codeaffine.gonsole.internal.ThemeElementCategory"
            id="com.codeaffine.gonsole.internal.PromptColor"
            label="Prompt Color"
            value="COLOR_DARK_GRAY">
      </colorDefinition>
      <colorDefinition
            categoryId="com.codeaffine.gonsole.internal.ThemeElementCategory"
            id="com.codeaffine.gonsole.internal.OutputColor"
            isEditable="true"
            label="Output Color"
            value="COLOR_WIDGET_FOREGROUND">
      </colorDefinition>
      <colorDefinition
            categoryId="com.codeaffine.gonsole.internal.ThemeElementCategory"
            id="com.codeaffine.gonsole.internal.ErrorColor"
            isEditable="true"
            label="Error Color"
            value="COLOR_RED">
      </colorDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.team.ui.category.team"
            defaultHandler="com.codeaffine.gonsole.internal.command.OpenGitConsoleHandler"
            description="Open the Git Console View"
            id="com.codeaffine.gonsole.internal.command.OpenGitConsole"
            name="Open Git Console">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.codeaffine.gonsole.internal.command.OpenGitConsole"
            icon="icons/etool16/gonsole.png">
      </image>
   </extension>
   <extension
         point="com.codeaffine.gonsole.repositoryProviders">
      <repositoryProvider
            class="com.codeaffine.gonsole.internal.repository.PreferenceRepositoryProvider">
      </repositoryProvider>
   </extension>

</plugin>
