<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="com.codeaffine.gonsole on Eclipse 4.5" sequenceNumber="1456522741">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="4.3.0.201604071810-r"/>
<unit id="org.eclipse.jgit.lfs.feature.group" version="4.3.0.201604071810-r"/>
<unit id="org.eclipse.jgit.feature.group" version="4.3.0.201604071810-r"/>
<unit id="org.eclipse.jgit.pgm.feature.group" version="4.3.0.201604071810-r"/>
<unit id="org.eclipse.jgit.http.apache.feature.group" version="4.3.0.201604071810-r"/>
<unit id="org.eclipse.jgit.pgm.source.feature.group" version="4.3.0.201604071810-r"/>
<unit id="org.eclipse.egit.source.feature.group" version="4.3.0.201604071810-r"/>
<unit id="org.eclipse.jgit.source.feature.group" version="4.3.0.201604071810-r"/>
<repository location="http://download.eclipse.org/egit/updates-4.3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.5.2.M20160212-1500"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.codeaffine.test.util.feature.feature.group" version="0.2.0.20160321-0619"/>
<unit id="com.codeaffine.eclipse.swt.feature.feature.group" version="0.3.0.20160321-0619"/>
<unit id="com.codeaffine.eclipse.swt.test.util.feature.feature.group" version="0.2.0.20160321-0619"/>
<unit id="com.codeaffine.eclipse.core.runtime.feature.feature.group" version="0.1.0.20160321-0619"/>
<unit id="com.codeaffine.eclipse.core.runtime.test.util.feature.feature.group" version="0.1.0.20160321-0619"/>
<repository location="http://fappel.github.io/xiliary/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.codeaffine.test.libraries.feature.feature.group" version="1.0.0.201508012258"/>
<repository location="http://fappel.github.io/test-libraries/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.httpcomponents.httpcore" version="4.3.3.v201411290715"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.compress" version="1.6.0.v201310281400"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.3.3.v201411290715"/>
<unit id="javaewah.source" version="0.7.9.v201401101600"/>
<unit id="com.jcraft.jsch" version="0.1.53.v201508180515"/>
<unit id="org.apache.commons.compress.source" version="1.6.0.v201310281400"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.3.6.v201411290715B"/>
<unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<unit id="javax.servlet.source" version="3.1.0.v201410161800"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="javax.servlet" version="3.1.0.v201410161800"/>
<unit id="javaewah" version="0.7.9.v201401101600"/>
<unit id="org.kohsuke.args4j.source" version="2.0.21.v201301150030"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="4.3.6.v201411290715B"/>
<unit id="com.jcraft.jsch.source" version="0.1.53.v201508180515"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
</location>
</locations>
</target>
